@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100% !important;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Varela Round", sans-serif;
}

/* LOGIN CSS */
.login-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image" "form";
}

.img-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.login-card {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-form {
    max-width: 600px;
    width: 100%;
    padding: 50px;
    background: #fff;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #2192ff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-design {
    display: flex;
    flex-direction: column;
}

.img-banner {
    grid-area: image;
}

@media (min-width: 1020px) {
    .login-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "image form";
    }
}

@media (max-width: 1019px) {
    .login-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: none !important;
    }
}

@media (max-width: 510px) {
    .img-banner img {
        display: none !important;
        grid-area: none;
    }

    .login-container {
        display: block;
    }
}

/* END LOGIN CSS */

.container-parent {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "side-nav header"
        "side-nav content";
    height: 100vh;
    transition: grid-template-columns 0.4s ease-in-out,
        grid-template-rows 0.4s ease-in-out;
    /* transition: all .5s ease; */
}

.content {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas: "content-section right-section";
    grid-area: content;
    transition: grid-template-columns 1s ease;
}

.content-section {
    grid-area: content-section;
    background: #fff;
}

.right-section {
    grid-area: right-section;
    background: transparent;
    padding: 10px 20px;
}

.side-nav {
    /* grid-area: side-nav; */
    position: sticky;
    top: 0;
    background: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    height: 100vh;
}

.logo_container {
    height: 20vh;
    /* padding-top: 2em; */
}

.logo_container img {
    width: 100%;
}

.nav_container {
    height: 80vh;
}

.nav_container ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav_container li {
    /* display: flex; */
    align-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
}

.nav_container li a {
    transition: all 0.4s ease;
}

.nav_container li a:hover,
.nav_container li a.active {
    color: #00933c;
}

a.nav-link.active i,
a.nav-link:hover i {
    background: #00933c;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    margin-left: -20px;
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
}

.nav_container li i {
    width: 20%;
    font-size: 25px;
    margin: 0 auto;
    transition: all 0.4s ease;
}

.nav_container li i a {
    transition: all 0.4s ease;
}

.nav_container li span {
    width: 75%;
}

.logo_container #icon {
    display: none;
}

.header {
    grid-area: header;
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: sticky;
    top: 0;
}

.container-parent.menu-open {
    grid-template-columns: 5% 95%;
}

.container-parent.resize-right .content {
    grid-template-columns: 95% 5%;
}

/* .container.resize-right .right-section {
    grid-basis: 5%;
  } */

/* buttons */

#resize-btn {
    /* transition: transform 1s ease; */
    font-size: 25px;
    cursor: pointer;
    color: #000;
}

#add-btn {
    font-size: 25px;
    cursor: pointer;
    color: #2192ff;
}

.btn-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

#menu-btn {
    /* transition: transform 1s ease; */
    font-size: 28px;
    cursor: pointer;
    color: #00933c;
}

.container-parent.resize-right #resize-btn {
    transform: rotate(180deg);
}

.container-parent.menu-open #menu-btn {
    transform: rotate(180deg);
}

.container-parent.menu-open .logo_container #icon {
    display: block;
}

.container-parent.menu-open .logo_container #logo {
    display: none;
}

.container-parent.menu-open .nav_container ul li span {
    display: none;
}

.container-parent.menu-open .nav_container ul li i {
    width: 45px;
}

.container-parent.resize-right .right-section .notes {
    display: none;
}

/* .container-parent.menu-open .side-nav {
    padding: 10px 5px;
} */

/* HEADER CSS */

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    width: 100%;
    margin: 0 auto;
}

.header-wrapper img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.header-details {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    gap: 50px;
}

.header-details .search-box {
    width: 60%;
}

.header-details .dropdown i {
    color: #000;
    font-size: 22px;
}

.header-wrapper .input-box {
    height: auto;
    width: 400px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    border: 1px solid #2192ff;
    border-radius: 30px;
    padding: 5px 20px;
}

.header-wrapper .input-box .search {
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 20px 0 20px;
    background-color: transparent;
}

.header-wrapper h3 {
    font-size: 1rem !important;
}

.input-box i {
    color: rgba(0, 0, 0, 0.29);
}

/* PRODUCTS CONTAINER */

/* .content-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
 
} */

.product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.product-wrap p {
    color: #2192ff;
}

.product-wrap a {
    text-decoration: none;
}

.product-wrap h3,
.product-wrap p {
    margin: 0;
}

.product-wrap img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 30px;
}

.product-wrap {
    flex: 0 0 30%;
    position: relative;
    max-width: 350px;
}

.out-of-stock {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-weight: bold;
}

/* FOR OVERLAY CSS */
.overlay {
    position: relative;
    z-index: 0;
}

.overlay a::before,
.overlay > div:nth-child(1):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: rgba(255, 249, 249, 0.63);
    z-index: 1;
    border-radius: 30px;
}

.stock-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ADD PRODUCT CSS */
.add-prod-wrapper {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    width: 60%;
    margin: 0 auto;
    border: 2px solid #2192ff;
    padding: 20px 50px;
    border-radius: 30px;
    height: auto;
    box-shadow: 4px 6px 15px 2px rgba(0, 0, 0, 0.34);
}

.add-form-wrapper .form-group input,
.login-form .form-group input {
    width: 100%;
    height: 30px;
    border: unset;
    background: none;
    border-bottom: 1px solid #d6d7d8;
    border-radius: 0;
    font-size: 16px;
}

.form-group input:focus,
.login-form .form-group input:focus {
    outline: none !important;
    border-bottom: 1px solid #2192ff;
}

.form-group {
    padding: 10px 0;
}

.add-form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
}

.submit-btn {
    padding-top: 30px;
}

.submit-btn button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #2192ff;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

/* UPDATE PRODUCT CSS */
.update-prod-wrapper select {
    width: 250px !important;
    height: 30px;
    border-radius: 30px;
    padding: 0 0 0 5px;
    border: 1px solid #2192ff;
}

/* PRODUCT SINGLE PAGE */

.single-prod-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* max-width: 70%; */
}

.single-prod-wrapper i {
    color: #000;
    font-size: 16px;
}

.single-prod-wrapper a {
    text-decoration: none;
}

.single-prod-wrapper .prod-info img {
    width: 320px;
    object-fit: cover;
    border-radius: 30px;
    height: 300px;
}

.prod-info {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

/* VIEW USER CSS */

.user-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #2192ff;
    padding: 40px 50px;
    border-radius: 30px;
    height: auto;
    box-shadow: 4px 6px 15px 2px rgba(0, 0, 0, 0.34);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

.user-info img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NOTES CSS */

.notes {
    border: 2px solid #2192ff;
    padding: 15px;
    border-radius: 20px;
    margin-top: 5px;

    background: #fff;
}

.notes p {
    overflow: auto;
}

.edits {
    opacity: 0;
    transition: all 0.3s ease;
}

.edits i {
    font-size: 18px;
}

.notes:hover .edits {
    opacity: 1;
}

/* RESPONSIVE HAMBURGER */

button.hamburger-btn {
    display: none;
}
.overlay-burger {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.show {
    display: block;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.overlay-burger nav ul {
    list-style: none;
    /* text-align: center; */
    margin-top: 25%;
    display: grid;
    place-content: center;
}

.overlay-burger nav li {
    margin-bottom: 1rem;

    font-size: 18px;

    font-weight: bold;
    padding: 20px 0;
    color: #fff;
}
.overlay-burger li i {
    padding-right: 20px;
    font-size: 25px;
}

nav a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.overlay-burger nav li:hover {
    color: #00933c;
}

/* DELETE MODAL CSS */
.modal-confirm {
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}
.modal-confirm .btn-secondary {
    background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* RESPONSIVENESS */

@media (max-width: 1200px) {
    .product-wrap {
        flex: 0 0 45%;
    }

    .add-prod-wrapper {
        width: 100%;
    }
    .right-section {
        padding: 10px !important;
    }
    .content-section {
        padding-top: 3em;
    }
}

@media (max-width: 1035px) {
    .nav_container li span {
        display: none;
    }
    .container-parent.menu-open .logo_container #icon {
        display: block;
        width: 40px;
    }

    .side-nav {
        /* width: 80px; */
        display: none !important;
    }
}

@media (max-width: 992px) {
    .product-wrap {
        flex: 0 0 45%;
    }

    .product-wrap img {
        width: 100%;
        object-fit: cover;
        height: 250px;
        border-radius: 30px;
    }

    .right-section {
        position: absolute;
        /* top: 0; */
        right: 2%;
    }

    /* .header-wrapper .input-box .search {
        display: none;
    } */

    .header-wrapper .input-box {
        width: 300px;
    }

    .content {
        grid-template-columns: 100%;
    }

    .container-parent {
        display: grid;

        grid-template-areas:
            "header header"
            "content content";
    }

    body {
        padding: 0 20px;
    }

    .login-body {
        padding: 0 !important;
    }
}

@media (max-width: 667px) {
    .product-wrap {
        flex: 0 0 100%;
    }

    .product-wrap img {
        width: 100%;
        object-fit: cover;
        height: 250px;
        border-radius: 30px;
    }

    .header-wrapper .input-box {
        width: 200px;
    }

    .input-box i {
        display: none;
    }
}

@media (max-width: 550px) {
    .header-details {
        width: 10%;
    }

    .header-wrapper .input-box {
        width: 150px;
        padding: 5px;
    }

    .dropdown-menu.show {
        display: block;
        transform: translate3d(-150px, 23px, 0px) !important;
    }

    .header-wrapper h3,
    .header-wrapper img {
        display: none;
    }
}

@media (max-width: 1035px) {
    button.hamburger-btn {
        display: block !important;
        font-size: 28px;
        cursor: pointer;
        color: #00933c;
        border: none;
        background: #fff;
        left: 20px;
        position: absolute;
        top: 20px;
    }

    .hamburger-btn i {
        position: absolute;
        left: 0;
    }

    /* #menu-btn,
    .side-nav {
        display: none !important;
    } */

    .logo_container,
    .nav_container {
        display: none;
    }
}
