@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html,
body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Varela Round", sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    /* background-color: #fc466b; */
    background-color: #fff;
    position: fixed;
    height: 90px !important;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.main {
    max-width: 900px; /* Can be in percentage also. */
    height: 100%;
    margin: 0 auto;
    padding: 150px 10px;
    position: relative;
}
.mainInner {
    width: 100%;
}
.mainInner div {
    width: 100%;
    vertical-align: middle;

    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 280px;
    /* margin-top: 60px; */
    z-index: 11;
    /* transform: translateX(-280px); */
    transition: transform 250ms ease-in-out;
    /* background: linear-gradient(180deg, #fc466b 0%, #3f5efb 100%); */
    background-color: #fff;
}
.sidebarMenuInner {
    margin-top: 60px;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
    list-style: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li i {
    padding-right: 10px;
    font-size: 20px;
}
.sidebarMenuInner li span {
    display: block;
    font-size: 18px;
    color: #000;
}
.sidebarMenuInner li a {
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.4s ease;
}

.sidebarMenuInner li a.active,
.sidebarMenuInner li a:hover {
    color: #00933c;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
    transform: translateX(-280px);
}

input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 30px;
    left: 15px;
    /* top: 5%;
    left: 19%; */
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 4px;
    /* width: 100%; */
    width: 25px;
    background-color: #00933c;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
/* input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
} */

/* LOGO */
.logo-design img {
    width: 70px;
    object-fit: contain;
}

.logo-design h1 {
    font-size: 18px;
}

.logo-design {
    display: flex;
    gap: 10px;
    padding: 80px 10px 10px 10px;
    align-items: center;
}

/* PRODUCT CSS */
.search-box {
    width: 300px;
    height: 10px;
    padding: 15px;
    border: 1px solid #2192ff;
    border-radius: 30px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-top: 2em;
}

.product-wrap p {
    color: #2192ff;
}

.product-wrap a {
    text-decoration: none;
}

.product-wrap h3,
.product-wrap p {
    margin: 0;
}

.product-wrap img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 30px;
}

.product-wrap {
    flex: 0 0 30%;
    position: relative;
}

.out-of-stock {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-weight: bold;
}

/* HEADER CSS */

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
}

.header-wrapper img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.header-wrapper .input-box {
    height: auto;
    width: 400px;
    outline: none;
    font-size: 16px;
    font-weight: 400;

    border: 1px solid #2192ff;
    border-radius: 30px;
    padding: 10px 20px;
}

.header-wrapper .input-box .search {
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 20px 0 20px;
    background-color: transparent;
}

.header-wrapper h3 {
    font-size: 1rem !important;
}

.input-box i {
    color: rgba(0, 0, 0, 0.29);
}

/* ADD PRODUCT CSS */
.add-prod-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    border: 2px solid #2192ff;
    padding: 20px 50px;
    border-radius: 30px;
    height: auto;
    box-shadow: 4px 6px 15px 2px rgba(0, 0, 0, 0.34);
}

.add-form-wrapper .form-group input {
    width: 100%;
    height: 30px;
    border: unset;
    background: none;
    border-bottom: 1px solid #d6d7d8;
    border-radius: 0;
    font-size: 16px;
}

.form-group input:focus {
    outline: none !important;
    border-bottom: 1px solid #2192ff;
}

.form-group {
    padding: 10px 0;
}

.add-form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
}

.submit-btn {
    padding-top: 30px;
}

.submit-btn button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #2192ff;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

/* PRODUCT SINGLE PAGE */

.single-prod-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 70%;
}

.single-prod-wrapper i {
    color: #000;
    font-size: 16px;
}

.single-prod-wrapper a {
    text-decoration: none;
}

.single-prod-wrapper .prod-info img {
    width: 320px;
    object-fit: cover;
    border-radius: 30px;
    height: 300px;
}

.prod-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* UPDATE PRODUCT CSS */
.update-prod-wrapper select {
    width: 250px !important;
    height: 30px;
    border-radius: 30px;
    padding: 0 0 0 5px;
    border: 1px solid #2192ff;
}

/* VIEW USER CSS */

.user-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #2192ff;
    padding: 40px 50px;
    border-radius: 30px;
    height: auto;
    box-shadow: 4px 6px 15px 2px rgba(0, 0, 0, 0.34);
}

.user-info img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    position: relative;
    z-index: 0;
}

.overlay a::before,
.overlay > div:nth-child(1):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: rgba(255, 249, 249, 0.63);
    z-index: 1;
    border-radius: 30px;
}

.stock-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* RESPONSIVENESS */

@media (max-width: 992px) {
    .product-wrap {
        flex: 0 0 45%;
    }
}

@media (max-width: 666px) {
    .product-wrap {
        flex: 0 0 100%;
    }
}
