/* Header navigation style */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.05);
}

.header-logo-container {
    width: 50%;
}

.header-logo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.header-logo a img {
    width: 150px;
}

.header-contactbtn-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 20px;
}
.header-contactbtn-container a {
    background: #2192FF;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: white;
}

/* Footer style */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.05);
}

.footer-logo-container,
.footer-info-container,
.footer-address-container {
    width: 30%;
}